@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kaushan+Script&display=swap");

/*  */
body {
  font-family: "Inter", sans-serif !important;
  color: #1f2148;
  /* font-family: "Kaushan Script", cursive !important; */
  background-color: #ffffff;
}

nav {
  background: rgb(205, 231, 231);
  background: linear-gradient(
    90deg,
    rgba(205, 231, 231, 1) 18%,
    rgba(246, 246, 246, 1) 60%,
    rgba(216, 214, 238, 1) 98%
  );
}

.heroAria3 {
  background: rgb(205, 231, 231);
  background: linear-gradient(
    90deg,
    rgba(205, 231, 231, 1) 18%,
    rgba(246, 246, 246, 1) 60%,
    rgba(216, 214, 238, 1) 98%
  );
}

/* intracrtor */
.intracrtor {
  box-shadow: 2px 7px 73px 15px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: 2px 7px 73px 15px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 2px 7px 73px 15px rgba(0, 0, 0, 0.63);
}

/* courses  */

.courseCard {
}

.enrollBtn {
  opacity: 0;
  visibility: hidden;
  transition: 0.7s;
}

.courseCard:hover .enrollBtn {
  visibility: visible;
  background-color: #13aaa04f;

  opacity: 1;
}

/* instractor  */
.temHover {
  background: rgb(214, 167, 235);
  background: linear-gradient(
    6deg,
    rgba(214, 167, 235, 0.8379726890756303) 10%,
    rgba(216, 214, 238, 0) 100%
  );
}

.blogSection {
  background: rgb(205, 231, 231);
  background: linear-gradient(
    90deg,
    rgba(205, 231, 231, 1) 18%,
    rgba(246, 246, 246, 1) 60%,
    rgba(216, 214, 238, 1) 98%
  );
}

/* footer */
footer {
  background: rgb(232, 189, 254);
  background: linear-gradient(
    87deg,
    rgba(232, 189, 254, 0.4234068627450981) 0%,
    rgba(255, 255, 255, 1) 22%,
    rgba(255, 255, 255, 1) 81%,
    rgba(19, 170, 161, 0.2637429971988795) 100%
  );
}
