.homePage2Header {
  /* background: rgb(236, 212, 216); */
  background: linear-gradient(
    90deg,
    rgba(236, 212, 216, 1) 0%,
    rgba(236, 212, 216, 1) 45%,
    rgba(185, 209, 253, 1) 92%
  ) !important;
}
nav {
  background: linear-gradient(
    90deg,
    rgba(236, 212, 216, 1) 0%,
    rgba(236, 212, 216, 1) 45%,
    rgba(185, 209, 253, 1) 92%
  ) !important;
}

.aboutFooter {
  background-image: url(../image/homePage2/aboutBg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* join Free */

.joinFree {
  background-image: url("../image/homePage2/fbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home2Testimonial {
  background: linear-gradient(
    90deg,
    rgba(236, 212, 216, 1) 0%,
    rgba(236, 212, 216, 1) 45%,
    rgba(185, 209, 253, 1) 92%
  ) !important;
}

/* register */
.register {
  background-image: url(../image/homePage2/registerBG.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.autoplaySlider {
  animation: carosel 30s linear infinite;
}

@keyframes carosel {
  100% {
    transform: translateX(-1500px);
  }
}
